/* 상단 메뉴바 스타일 */
/* 시스템명 스타일 */
.App {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  flex-direction: row;
}
.create-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border:3px solid #00ff00;
  justify-content:center;
  margin: 0 auto;
}

h1, h2{
  border:3px solid #ff0000;
  margin: 0 auto;
}
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.create-input-label {
  margin-top:10px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-weight:bold;
}

.create-input {
  width: 400px;
  height: 30px;
  margin-top:20px;
  margin-bottom: 20px;
  right:100%;
}

.bicycle-create-select {
  width: 400px;
  height: 30px;
  margin-top:20px;
  margin-bottom: 20px;
}
.create-submit{
  cursor:pointer;
  margin: 0 auto;
  width: 150px;
  height:50px;
  margin-top:50px;
  border:3px solid #ff0000;
  background-color:#009000;
  color:#ffffff;
  font-weight:bold;
  font-size:20px;
  border-radius: 0.5rem;
}
/*.content-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size:20px;
}*/
/*.registration-form {
   display: flex;
   flex-direction: column;
   align-items: center;
}*/
/*input[type='text'] {
  width: 350px;
  padding: 8px 10px;
  margin: 25px 0;
  box-sizing: border-box;
}*/
/*.registration-form input {
  width: 500px;
  padding: 5px;
}*/
/*button{
  cursor:pointer;
  width: 150px;
  height:50px;
  margin-top:50px;
  border:3px solid #ff0000;
  background-color:#009000;
  color:#ffffff;
  font-weight:bold;
  font-size:20px;
  border-radius: 0.5rem;
}*/
/*
.input-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
*/

/*
label {
  margin-right: 10px;
  display: inline-block; */
/* 수정 *//*

  width: 120px; */
/* 수정 *//*

  text-align: center; */
/* 수정 *//*

  background-color:#E2E2E2;
  border-radius: 0.5rem;
  font-weight:bold;
}
*/

/*#bicycle-state{
  border:3px solid #ff0000;
  width: 200px;
  height: 30px;
  font-weight: bold;
  font-size:20px;
}*/
/* 자전거 조회 화면 테이블 작동용 스크롤 */
.table-container {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}

.bicycle-table {
  width: 100%;
  border-collapse: collapse;
}

.bicycle-table th,
.bicycle-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* 대여소 조회 화면 */
.rental-office-container {
  display: flex;
  flex-direction: row;
}

.office-list {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border:3px solid #ff0000;
}
.button-margin {
  margin: 20px 20px; /* (위아래 여백, 좌우 여백) 형태로 수정합니다. */
}
.selected-office {
  display: flex;
  flex-direction: column;
}

.selected-office-info {
  display: flex;
  margin-bottom: 10px;
}

.selected-office-info label {
  width: 120px;
  text-align: center;
  margin-right: 10px;
  font-weight:bold;
}


/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
