.signUp-page {
    width: 100%;
}

.signUp-title {
    padding: 20px;
}

.signUp-input {
    height: 30%;
}

.signUp-input .signUp-label {
    display: inline-block;
    width: 10%;
    border: 1px solid black;
    border-radius: 20%;
    font-weight: bold;
    text-align: center;
    background-color: #dddddd;
}

.signUp-btn {

}